<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="http://127.0.0.1:5000/static/flashjs-master/dist/flash.min.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/flashjs-master/dist/flash.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
<!-- <script src="https://cdn.tailwindcss.com/3.3.0"></script> -->
    <!-- <link rel="stylesheet" href="{{url_for('ExampleRoutes.get_file',filename='dist/css/output.css')}}"> -->
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="flex  min-h-screen" >
    <div class="w-1/6 h-screen fixed flex justify-center border-r py-5">
        
        <ul class="flex flex-col gap-10 text-2xl">
            <a href="{{ url_for('ExampleRoutes.show_penjelasan')}}" class="bg-blue-300 p-2 text-slate-100 rounded-lg cursor-pointer {% if (url_for(request.endpoint, **request.view_args) == '/')%} bg-blue-500 {%endif%}"><li class="">Beranda</li></a>
            <a href="{{ url_for('ExampleRoutes.show_data')}}" class="bg-blue-300 p-2 text-slate-100 rounded-lg  cursor-pointer{% if (url_for(request.endpoint, **request.view_args) == '/data')%} bg-blue-500 {%endif%}"><li class="">Data Terbaru</li></a>
            <a href="{{ url_for('ExampleRoutes.show_model')}}" class="bg-blue-300 p-2 text-slate-100 rounded-lg  cursor-pointer{% if (url_for(request.endpoint, **request.view_args) == '/model')%} bg-blue-500 {%endif%}"><li>Model Deteksi</li></a>
            <a href="{{ url_for('ExampleRoutes.show_kepadatan')}}" class="bg-blue-300 p-2 text-slate-100 rounded-lg  cursor-pointer{% if (url_for(request.endpoint, **request.view_args) == '/kepadatan')%} bg-blue-500 {%endif%}"><li>Menghitung Kepadatan</li></a>
        </ul>
    </div>
    <div class="w-5/6 absolute right-0">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class='absolute  w-full rounded p-3 h-10'>
            {% for message in messages %}
            <li class="text-red-300 text-3xl ">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}

    </div>
</body>
</html>